html,body,.container {
    height:100%;
}
.container {
    display:inline-flex;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0px 0 30px; /*set left/right padding according to needs*/
    /*box-sizing: border-box;*/
    overflow: hidden;
}
header {
    background: green;
    height: 50px;
}

.row {
    height: 100%;
    width: 100%;
    display: inline-flex;
}

.row .no-float {
  /*display: table-cell;*/
  float: left;
}

/**
 * VISJS
 */
 div.vis-network div.vis-navigation div.vis-button.vis-up, div.vis-network div.vis-navigation div.vis-button.vis-down, div.vis-network div.vis-navigation div.vis-button.vis-left, div.vis-network div.vis-navigation div.vis-button.vis-right {
     display:none;
 }

 div.vis-network div.vis-navigation div.vis-button.vis-zoomIn {
     top: 35px;
     right: 15px;
     bottom:0;
 }

 div.vis-network div.vis-navigation div.vis-button.vis-zoomOut {
     top: 75px;
     right: 15px;
     bottom:0;
 }

 div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
     top: 115px;
     right: 15px;
     bottom:0;
 }

.left_content , .right_content {
    border: 1px solid grey;
}

.header_step {
	text-align:center;
}

.right_content {
    overflow-y: auto;
}

.buttons_canvas {
    position:absolute;
    bottom: 50px;
}

/*#operation {
  font-size:28px;
}
#network-popUp {
  display:none;
  position:absolute;
  top:350px;
  left:170px;
  z-index:299;
  width:250px;
  height:120px;
  background-color: #f9f9f9;
  border-style:solid;
  border-width:3px;
  border-color: #5394ed;
  padding:10px;
  text-align: center;
}*/
